@model CategoryContentModel
@using Extensions.String;
<div class="divcenter">
    @foreach (var item in Model.Category)
    {
        <div class="col-sm-6 col-xs-6">
            <div class="thumbnail">
                @{
        var imgPath = item.Category_Picture != null ? item.Category_Picture.FirstOrDefault().UrlPath : "http://placehold.it/320x130";
                }
                @if (!string.IsNullOrEmpty(item.Description))
                {
                    <div class="caption">
                        <a href="@Url.Action("Index","Category",new { Name = item.Name.ConvertToUnSign(), Id = item.Id})">
                            <p>@Html.Raw(item.Description.StripTagsRegexCompiled().ToStringCount(140))</p>
                        </a>
                        <p><a href="#" class="btn btn-inverse" rel="tooltip" title="Preview"><i class="icon-eye-open"></i></a> <a href="#" rel="tooltip" title="Visit Website" class="btn btn-inverse"><i class="icon-share"></i></a></p>
                    </div>
                }
                <img class="img-responsive" width="320" height="130" src="@imgPath" />
            </div>
            <h4><a href="@Url.Action("Index","Category",new { Name = item.Name.ConvertToUnSign(), Id = item.Id})">@item.Name.ToStringCount(80)</a></h4>
        </div>
    }
    @if (Model.Category == null || Model.Category.Count() == 0)
    {
        foreach (var item in Model.NewsCategoryViewModel)
        {
            <div class="col-sm-6 col-xs-6">
                <div class="thumbnail">
                    @if (!string.IsNullOrEmpty(item.Brief))
                    {
                        <div class="caption">
                            <a href="@Url.Action("Index","News",new { Name = item.Title.ConvertToUnSign(), Id = item.Id})">
                                <p>@Html.Raw(item.Brief.StripTagsRegexCompiled().ToStringCount(140))</p>
                            </a>
                            <p><a href="#" class="btn btn-inverse" rel="tooltip" title="Preview"><i class="icon-eye-open"></i></a> <a href="#" rel="tooltip" title="Visit Website" class="btn btn-inverse"><i class="icon-share"></i></a></p>
                        </div>
                    }
                    <img class="img-responsive" width="320" height="130" src="@item.ImagePath" />
                </div>
                <h4><a href="@Url.Action("Index","News",new { Name = item.Title.ConvertToUnSign(), Id = item.Id})">@item.Title.ToStringCount(80)</a></h4>
            </div>
        }
    }
</div>
<style>
    .divcenter .thumbnail {
        position: relative;
    }

    #hover-cap-4col .thumbnail {
        position: relative;
        overflow: hidden;
    }

    .caption {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0,0,0,.85);
        width: 100%;
        height: 100%;
    }

        .caption a {
            color: #fff !important;
            text-decoration: none;
        }
</style>