@model Invest.Web.Areas.Admin.Models.Catalog.CategoryModel

@{
    ViewBag.Title = "Edit";
}
@Html.Partial("Breadcrumb", new Dictionary<string, string> { { @Resource("Category"), "/Admin/Category" }, { @Resource("Edit"), "#" } })

<script src="~/Content/editors/tinymce/tiny_mce.js"></script>

<div class="row-fluid">
    <div class="box span12">
        <div class="box-header well">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#edit">Edit</a></li>
                <li><a href="#seo">SEO</a></li>
                <li><a href="#news">List News</a></li>
            </ul>
        </div>
        <div class="box-content">

            @using (Html.BeginForm("Edit", "Language", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                <div class="tab-content">
                    <div class="tab-pane active" id="edit">

                        @Html.AntiForgeryToken()
                        <fieldset>
                            @Html.ValidationSummary(true)
                            @Html.HiddenFor(model => model.Id)

                            <div class="box">
                                <div class="box-header well">
                                    <h2></h2>
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a href="#0">Standard</a></li>
                                        <li><a href="#1">English</a></li>
                                        <li><a href="#2">Japan</a></li>
                                        <li><a href="#3">Korea</a></li>
                                    </ul>
                                </div>
                                <div class="box-content">
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="0">
                                            <div class="control-group">
                                                @Html.LabelFor(model => model.Name, new { @class = "control-label" })
                                                <div class="controls">
                                                    @Html.EditorFor(model => model.Name, new { @class = "span4 typeahead" })
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                @Html.LabelFor(model => model.Description, new { @class = "control-label" })
                                                <div class="controls">
                                                    @Html.EditorFor(model => model.Description,"RichEditor",new { @row = "20", @style = "width:100%" })
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                @Html.LabelFor(model => model.Published, new { @class = "control-label" })
                                                <div class="controls">
                                                    @Html.EditorFor(model => model.Published, new { @class = "span4 typeahead" })
                                                    @Html.ValidationMessageFor(model => model.Published)
                                                </div>
                                            </div>
                                        </div>
                                        @for (var i = 0; i < Model.Locales.Count(); i++)
                                        {
                                            <div class="tab-pane" id="@Model.Locales[i].LanguageId">
                                                @Html.HiddenFor(model => model.Locales[i].LanguageId)


                                                <div class="control-group">
                                                    @Html.LabelFor(model => model.Locales[i].Name, new { @class = "control-label" })
                                                    <div class="controls">
                                                        @Html.EditorFor(model => model.Locales[i].Name, new { @class = "span4 typeahead" })
                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    @Html.LabelFor(model => model.Locales[i].Description, new { @class = "control-label" })
                                                    <div class="controls">
                                                        @Html.EditorFor(model => model.Locales[i].Description,  "RichEditor",new { @row = "20", @style = "width:100%" })
                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    @Html.LabelFor(model => model.Locales[i].Published, new { @class = "control-label" })
                                                    <div class="controls">
                                                        @Html.EditorFor(model => model.Locales[i].Published, new { @class = "span4 typeahead" })
                                                        @Html.ValidationMessageFor(model => model.Locales[i].Published)
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>

                            <div class="control-group">
                                @Html.LabelFor(model => model.ParentCategoryId, new { @class = "control-label" })
                                <div class="controls">
                                    @Html.DropDownListFor(model => model.ParentCategoryId, new SelectList(Model.AvailableCategoryTemplates, "Value", "Text"), new { @data_rel = "chosen" })
                                    @Html.ValidationMessageFor(model => model.ParentCategoryId)
                                </div>
                            </div>

                            <div class="control-group">
                                @Html.LabelFor(model => model.PictureId, new { @class = "control-label" })
                                <div class="controls">
                                    @Html.EditorFor(model => model.PictureId, new { @class = "span4 typeahead" })
                                    @Html.ValidationMessageFor(model => model.PictureId)
                                </div>
                            </div>

                            <div class="control-group">
                                @Html.LabelFor(model => model.ShowOnHomePage, new { @class = "control-label" })
                                <div class="controls">
                                    @Html.EditorFor(model => model.ShowOnHomePage, new { @class = "span4 typeahead" })
                                    @Html.ValidationMessageFor(model => model.ShowOnHomePage)
                                </div>
                            </div>

                            <div class="control-group">
                                @Html.LabelFor(model => model.IncludeInTopMenu, new { @class = "control-label" })
                                <div class="controls">
                                    @Html.EditorFor(model => model.IncludeInTopMenu, new { @class = "span4 typeahead" })
                                    @Html.ValidationMessageFor(model => model.IncludeInTopMenu)
                                </div>
                            </div>

                            <div class="control-group">
                                @Html.LabelFor(model => model.DisplayOrder, new { @class = "control-label" })
                                <div class="controls">
                                    @Html.EditorFor(model => model.DisplayOrder, new { @class = "span4 typeahead" })
                                    @Html.ValidationMessageFor(model => model.DisplayOrder)
                                </div>
                            </div>

                            <div class="control-group">
                                @Html.LabelFor(model => model.CreatedDate, new { @class = "control-label" })
                                <div class="controls">
                                    @Html.EditorFor(model => model.CreatedDate, new { @class = "span4 typeahead" })
                                    @Html.ValidationMessageFor(model => model.CreatedDate)
                                </div>
                            </div>

                            <div class="control-group">
                                @Html.LabelFor(model => model.UpdatedDate, new { @class = "control-label" })
                                <div class="controls">
                                    @Html.EditorFor(model => model.UpdatedDate, new { @class = "span4 typeahead" })
                                    @Html.ValidationMessageFor(model => model.UpdatedDate)
                                </div>
                            </div>

                            <div class="form-actions">
                                <button id="btnSave" type="submit" class="btn btn-primary">@Resource("Save")</button>
                                <a class="btn btn-cancel" href="@Url.Action("", "Category", new { area = "Admin" },null)">@Resource("Exit")</a>
                            </div>
                        </fieldset>
                    </div>
                    <div class="tab-pane" id="seo">
                        <div class="box">
                            <div class="box-header well">
                                <h2></h2>
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#seo_0" class="active">Standard</a></li>
                                    <li><a href="#seo_1">English</a></li>
                                    <li><a href="#seo_2">Japan</a></li>
                                    <li><a href="#seo_3">Korea</a></li>
                                </ul>
                            </div>
                            <div class="box-content">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="seo_0">
                                        <div class="control-group">
                                            @Html.LabelFor(model => model.MetaTitle, new { @class = "control-label" })
                                            <div class="controls">
                                                @Html.EditorFor(model => model.MetaTitle, new { @class = "span4 typeahead" })
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            @Html.LabelFor(model => model.MetaDescription, new { @class = "control-label" })
                                            <div class="controls">
                                                @Html.TextAreaFor(model => model.MetaDescription, new { @class = "span4 typeahead" })
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            @Html.LabelFor(model => model.MetaKeywords, new { @class = "control-label" })
                                            <div class="controls">
                                                @Html.EditorFor(model => model.MetaKeywords, new { @class = "span4 typeahead" })
                                            </div>
                                        </div>
                                    </div>
                                    @for (var i = 0; i < Model.Locales.Count(); i++)
                                    {

                                        <div class="tab-pane" id="seo_@Model.Locales[i].LanguageId">
                                            <div class="control-group">
                                                @Html.LabelFor(model => model.Locales[i].MetaTitle, new { @class = "control-label" })
                                                <div class="controls">
                                                    @Html.EditorFor(model => model.Locales[i].MetaTitle, new { @class = "span4 typeahead" })
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                @Html.LabelFor(model => model.Locales[i].MetaDescription, new { @class = "control-label" })
                                                <div class="controls">
                                                    @Html.TextAreaFor(model => model.Locales[i].MetaDescription, new { @class = "span4 typeahead" })
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                @Html.LabelFor(model => model.Locales[i].MetaKeywords, new { @class = "control-label" })
                                                <div class="controls">
                                                    @Html.EditorFor(model => model.Locales[i].MetaKeywords, new { @class = "span4 typeahead" })
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane" id="news">
                        <div> @Html.Partial("_PartialProductMapping", Model.CategoryProductModel)</div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        $('.btn-primary').click(function (event) {
            showPopUpStatus("Đang cập nhật dữ liệu");
            tinyMCE.triggerSave();
            event.preventDefault();
            $.post('@Url.Action("Edit", "Category")', $('form').serialize(), function (data) {
                if (data.success) {
                    popUp(false, "Cập nhật thành công! Trở về trang trước", true, document.referrer);
                } else {
                    popUp(true, data.message, false);
                }
            });
        });

    });

</script>
<style>
    #content .nav-tabs > li > a {
        line-height: 15px !important;
    }

    .chzn-container .chzn-results .active-result {
        color: black;
        text-shadow: none;
    }
</style>

@section ScriptCustom {
    <script src="~/Content/js/bootstrap-tab.js"></script>
    <!-- select or dropdown enhancer -->
    <script src="~/Content/js/jquery.chosen.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#content .nav-tabs a:first').tab('show');
            $('#content .nav-tabs a').click(function (e) {
                e.preventDefault();
                $(this).tab('show');
            });
            //chosen - improves select
            $('[data-rel="chosen"],[rel="chosen"]').chosen();
        });
    </script>
}

