@model List<News_Category_MappingModel>
<div style="clear:both;margin-bottom:10px"></div>
<table class="table table-striped table-bordered bootstrap-datatable datatable dataTable">
    <thead>
        <tr>
            <th>Name</th>
            <th class="center">
                @Resource("DisplayOrder")
            </th>
            <th class="center">@Resource("Action")</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cat in Model)
        {
            <tr>
                <td>
                    <a href="@Url.Action("Edit", "Category", new { id = cat.CategoryID })"></a>
                    @cat.CategoryName
                </td>
                <td class="center">
                    @cat.DisplayOrder
                </td>
                <td class="center">
                    <a class="btn btn-danger" id="deleteCat_@cat.Id" name="@cat.Id"><i class="icon-trash icon-white"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
    $(document).ready(function () {


        $('a[id^="deleteCat_"]').click(function (event) {
            if (!confirm('Bạn có muốn xóa không ?'))
                return;
            event.preventDefault();
            var span = $(this);
            var idArr = new Array();
            idArr[0] = $(this).attr('id').substring(10);
            DeleteCat(idArr);
        });


        function DeleteCat(idArray) {

            $.ajax({
                type: "POST",
                url: '@Url.Action("DeleteCategory")',
                data: { ids: idArray },
                beforeSend: popUp(false, '@Resource("Admin.ConfirmSuccess")', false),
                success: function (data) {
                    if (data.success) {
                        UpdateCategory();
                    } else {
                        popUp(true, data.message, false);
                    }
                },
                dataType: 'JSON',
                traditional: true
            });
        }
    });

</script>