@model NewsModel

@{
    ViewBag.Title = @Resource("Admin.Edit");
}
@Html.Partial("Breadcrumb", new Dictionary<string, string> { { @Resource("Admin.News"), "/Admin/News" }, { @Resource("Admin.Edit"), "#" } })

<link rel="stylesheet" type="text/css" href="http://xoxco.com/projects/code/tagsinput/jquery.tagsinput.css" />
<script src="~/Content/editors/tinymce/tiny_mce.js"></script>


<div class="row-fluid">
    <div class="box span12">
        <div class="box-header well">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#edit">@Resource("Admin.Info")</a></li>
                <li><a href="#seo">@Resource("Admin.Seo")</a></li>
                <li><a href="#Pictures">@Resource("Admin.Picture")</a></li>
                <li><a href="#Category">@Resource("Admin.CatMap")</a></li>
            </ul>
        </div>
        <div class="box-content">

            @using (Html.BeginForm("Edit", "News", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                <div class="tab-content">
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.CreatedDate)
                    <div class="tab-pane active" id="edit">
                        <fieldset>
                            @Html.ValidationSummary(true)
                            @Html.HiddenFor(model => model.Id)
                            <div class="control-group">
                                @Html.LabelFor(model => model.LanguageId, new { @class = "control-label" })
                                <div class="controls">
                                    @Html.DropDownListFor(model => model.LanguageId, new SelectList(Model.AvailableLanguages, "Value", "Text"), new { @data_rel = "chosen" })
                                    @Html.ValidationMessageFor(model => model.LanguageId)
                                </div>
                            </div>

                            <div class="control-group">
                                @Html.LabelFor(model => model.Title, new { @class = "control-label" })
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.Title, new { @class = "span6 typeahead" })
                                    @Html.ValidationMessageFor(model => model.Title)
                                </div>
                            </div>

                            <div class="control-group">
                                @Html.LabelFor(model => model.Short, new { @class = "control-label" })
                                <div class="controls">
                                    @Html.TextAreaFor(model => model.Short, new { @class = "span6 typeahead", @rows = "5" })
                                    @Html.ValidationMessageFor(model => model.Short)
                                </div>
                            </div>

                            <div class="control-group">
                                @Html.LabelFor(model => model.Full, new { @class = "control-label" })
                                <div class="controls">
                                    @Html.EditorFor(model => model.Full, "RichEditor", new { @class = "span6 typeahead" })
                                    @Html.ValidationMessageFor(model => model.Full)
                                </div>
                            </div>

                            <div class="control-group">
                                @Html.LabelFor(model => model.Tags, new { @class = "control-label" })
                                <div class="controls">
                                    @Html.EditorFor(model => model.Tags, new { @class = "span6 typeahead" })
                                    @Html.ValidationMessageFor(model => model.Tags)
                                </div>
                            </div>

                            <div class="control-group">
                                @Html.LabelFor(model => model.Published, new { @class = "control-label" })
                                <div class="controls">
                                    @Html.EditorFor(model => model.Published, new { @class = "span6 typeahead" })
                                    @Html.ValidationMessageFor(model => model.Published)
                                </div>
                            </div>

                            <div class="control-group">
                                @Html.LabelFor(model => model.AllowComments, new { @class = "control-label" })
                                <div class="controls">
                                    @Html.EditorFor(model => model.AllowComments, new { @class = "span6 typeahead" })
                                    @Html.ValidationMessageFor(model => model.AllowComments)
                                </div>
                            </div>

                            <div class="control-group">
                                @Html.LabelFor(model => model.StartDate, new { @class = "control-label" })
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.StartDate, new { @class = "span6 typeahead" })
                                    @Html.ValidationMessageFor(model => model.StartDate)
                                </div>
                            </div>

                            <div class="control-group">
                                @Html.LabelFor(model => model.EndDate, new { @class = "control-label" })
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.EndDate, new { @class = "span6 typeahead" })
                                    @Html.ValidationMessageFor(model => model.EndDate)
                                </div>
                            </div>

                            <div class="form-actions">
                                <button id="btnSave" type="submit" class="btn btn-primary">@Resource("Admin.Save")</button>
                                <a class="btn btn-cancel" href="@Url.Action("", "News", new { area = "Admin" },null)">@Resource("Admin.Exit")</a>
                            </div>
                        </fieldset>
                    </div>
                    <div class="tab-pane" id="seo">
                        <div class="control-group">
                            @Html.LabelFor(model => model.MetaTitle, new { @class = "control-label" })
                            <div class="controls">
                                @Html.TextBoxFor(model => model.MetaTitle, new { @class = "span6 typeahead" })
                            </div>
                        </div>
                        <div class="control-group">
                            @Html.LabelFor(model => model.MetaDescription, new { @class = "control-label" })
                            <div class="controls">
                                @Html.TextAreaFor(model => model.MetaDescription, new { @rows = "5", @class = "span6 typeahead" })
                            </div>
                        </div>
                        <div class="control-group">
                            @Html.LabelFor(model => model.MetaKeywords, new { @class = "control-label" })
                            <div class="controls">
                                @Html.TextBoxFor(model => model.MetaKeywords, new { @class = "span6 typeahead" })
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="Pictures">
                        <p>You need to save the news before you can upload pictures for this news page.</p>
                        <div id="tb_pic">
                            @Html.Partial("_PartialAllPicture", Model.News_Picture)
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="Picture">@Resource("Admin.Picture")</label>
                            <div class="controls">
                                <img class="imgsNews" src="" style="width:100px" />
                                <input id="fileInput" name="fileInput" type="file">
                                <input class="UrlPath" name="UrlPath" type="hidden">

                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="Display order:">@Resource("Admin.DisplayOrder")</label>
                            <div class="controls">
                                <input id="picOrder" name="DisplayOrder" type="number" value="1">
                            </div>
                        </div>
                        <div class="form-actions">
                            <button id="addPicture" type="button" class="btn btn-primary">@Resource("Admin.AddNewsPicture")</button>
                        </div>
                    </div>
                    <div id="Category" class="tab-pane">
                        <div id="tb_cat">
                            @Html.Partial("_PartialCategoryMapping", Model.News_Category)
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="Display order:">@Resource("Admin.CatName")</label>
                            <div class="controls">
                                @Html.DropDownList("catID", new SelectList(Model.AvailableCategory, "Value", "Text"), new { @data_rel = "chosen" })
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="Display order:">@Resource("Admin.DisplayOrder")</label>
                            <div class="controls">
                                <input id="catOrder" name="DisplayOrder" type="number" value="1">
                            </div>
                        </div>
                        <div class="form-actions">
                            <button id="addCategory" type="button" class="btn btn-primary">@Resource("Admin.AddCatMap")</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<style>
    .tab-content {
        overflow: initial !important;
    }

    #content .nav-tabs > li > a {
        line-height: 15px !important;
    }

    .chzn-container .chzn-results .active-result {
        color: black;
        text-shadow: none;
    }
</style>

@section ScriptCustom {
    <script src="~/Content/js/jquery.uploadify-3.1.min.js"></script>
    <script type="text/javascript" src="http://xoxco.com/projects/code/tagsinput/jquery.tagsinput.js"></script>
    <script src="~/Content/js/bootstrap-tab.js"></script>
    <!-- select or dropdown enhancer -->
    <script src="~/Content/js/jquery.chosen.min.js"></script>
    <script>

        function UpdatePicture(){
            $.post( "@Url.Action("AllPicture", "News", new { @NewsID = Model.Id })", function( data ) {
                $( "#tb_pic" ).html(data);
            });
        }

        function UpdateCategory(){
            $.post( "@Url.Action("AllCategory", "News", new { @NewsID = Model.Id })", function( data ) {
                $( "#tb_cat" ).html(data);
            });
        }

        $(document).ready(function () {
            $('#content .nav-tabs a:first').tab('show');
            $('#content .nav-tabs a').click(function (e) {
                e.preventDefault();
                $(this).tab('show');
            });
            //chosen - improves select
            $('[data-rel="chosen"],[rel="chosen"]').chosen();
            $('#Tags').tagsInput({
                width: '90%'
            });

            $('#btnSave').click(function (event) {
                showPopUpStatus('@Resource("Admin.UpdateData")');
                tinyMCE.triggerSave();
                event.preventDefault();
                $.post('@Url.Action("Edit", "News")', $('.form-horizontal').serialize(), function (data) {
                    if (data.success) {
                        popUp(false, '@Resource("Admin.UpdateSuccess")', true, document.referrer);
                    } else {
                        popUp(true, data.message, false);
                    }
                });
            });

            $('#addPicture').click(function (event) {
                event.preventDefault();
                $.post(
                    '@Url.Action("AddPicture", "News")',
                    {
                        NewsID: @Model.Id ,
                        DisplayOrder: $("#picOrder").val(),
                        UrlPath: $('.UrlPath').val()
                    },
                    function (data) {
                        if (data.success) {
                            UpdatePicture();
                        }
                    });
                return false;
            });

            $('#addCategory').click(function (event) {
                event.preventDefault();
                $.post(
                    '@Url.Action("AddCategory", "News")',
                    {
                        NewsID: @Model.Id ,
                        DisplayOrder: $("#catOrder").val(),
                        CategoryID : $('#catID').val()
                    },
                    function (data) {
                        if (data.success) {
                            UpdateCategory();
                        }
                    });
            });


            $('#fileInput').uploadify({
                'swf': '@Url.Content("~/content/js/flash/uploadify.swf")',
                'uploader': "@Url.Action("UploadFiles", "Upload",new { area="" },null)",
                'multi': false,
                'fileExt': '*.jpg;*.jpeg;*.gif;*.png',
                'formData':
                        {
                            'type': 1
                        },
                'onUploadSuccess': function (file, data, response) {
                    $(".imgsNews").attr('src', data);
                    $(".UrlPath").val(data);
                }
            });

        });
    </script>
}



