@model PagedList.IPagedList<UserModel>
<div class="span3 pull-left">
    <div class="btn-group">
        <a href="#myModal" role="button" class="btn btn-small" data-toggle="modal"><i class="icon icon-color icon-add"></i>@Resource("Admin.CreateNew")</a>
    </div>
</div>
<div style="clear:both;margin-bottom:10px"></div>
<table class="table table-striped table-bordered bootstrap-datatable datatable dataTable">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().UserName)</th>
            <th class="center">@Resource("Admin.Actions")</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="center">
                    @item.UserName
                </td>
                <td class="center">
                    <a class="btn btn-danger" id="delete@(item.Id)" name="@item.Id"><i class="icon-trash icon-white"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
@Html.Partial("_PartialPaging", Model)
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Add Picture in SliderBar</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <fieldset>
                    <label class="control-label" for="Picture">@Resource("Admin.Picture")</label>
            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-primary" id="addPicture">Save changes</button>
    </div>
</div>

<script type="text/javascript">
    function onSelected(t) {
        window.location.href = "@Url.Action("", "Category")" + "?CategoryType=" + t;
    }

    $(document).ready(function () {
        $('#addPicture').click(function () {
            $.post('@Url.Action("Edit", "SliderBar")', $('.form-horizontal').serialize(), function (data) {
                if (data.success) {
                    $('#myModal').modal('hide');
                    popUp(false, '@Resource("Admin.UpdateSuccess")', true, document.location.href);
                } else {
                    popUp(true, data.message, false);
                }
            });


        });
        $('a[id^="delete"]').click(function (event) {
            if (!confirm('@Resource("Admin.ConfirmDelete")'))
                return;
            event.preventDefault();
            var span = $(this);
            var idArr = new Array();
            idArr[0] = $(this).attr('id').substring(6);
            DeleteNews(idArr);
        });
        function DeleteNews(idArray) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("Delete")',
                data: { ids: idArray },
                beforeSend: popUp(false, '@Resource("Admin.ConfirmSuccess")', false),
                success: function (data) {
                    if (data.success) {
                        setTimeout(function () {
                            location.reload();
                        }, 1500);
                    } else {
                        popUp(true, data.message, false);
                    }
                },
                dataType: 'JSON',
                traditional: true
            });
        }
    });
</script>