@using PagedList.Mvc;
@model PagedList.IPagedList<UserModel>
@{
    ViewBag.Title = "Index";
}
@Html.Partial("Breadcrumb", new Dictionary<string, string> { { @Resource("Admin.User"), Url.Action("", "User", new { area = "Admin" }, null) } })
<div class="row-fluid">
    <div class="box span12">
        <div class="box-header well">
            <h2>@Resource("Admin.User")</h2>
        </div>
        <div class="box-content">
            @Html.Partial("_PartialUser", Model)
        </div>
    </div>
</div>
@section ScriptCustom {
    <script src="~/Content/js/jquery.uploadify-3.1.min.js"></script>
    <script src="~/Content/js/jquery.chosen.min.js"></script>
    <script>
        $(document).ready(function () {
            $('[data-rel="chosen"],[rel="chosen"]').chosen();
            $('#fileInput').uploadify({
                'swf': '@Url.Content("~/content/js/flash/uploadify.swf")',
                'uploader': "@Url.Action("UploadFiles", "Upload", new { area = "" }, null)",
                'multi': false,
                'fileExt': '*.jpg;*.jpeg;*.gif;*.png',
                'formData':
                {
                    'type': 2
                },
                'onUploadSuccess': function (file, data, response) {
                    $(".imgsNews").attr('src', data);
                    $("#ImageUrl").val(data);
                }
            });
        });
    </script>
}