@model IEnumerable<Invest.Core.Language>

<div class="span3 pull-left">
    <div class="btn-group">
        <a class="btn btn-small" href="@Url.Action("Create", "Language", new { area ="Admin"},null)"><i class="icon icon-color icon-add"></i>@Resource("Admin.CreateNew")</a>
    </div>
</div>
<div class="span3 pull-right">
    <div class="btn-group pull-right">
        <a class="btn btn-cancel" href="#">@Resource("Admin.Actions")</a>
        <a class="btn btn-cancel dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a id="btnChangeStatusSupp"><i class="icon-pencil"></i>@Resource("Admin.StatusChange")</a></li>
            <li class="divider"></li>
        </ul>
    </div>
</div>

<div style="clear:both;margin-bottom:10px"></div>

<table class="table table-striped table-bordered bootstrap-datatable datatable dataTable">
    <thead>
        <tr>
            <th class="center">@Html.CheckBox("Select", false, new { id = "suppCheckALL" })</th>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.UniqueSeoCode)</th>
            <th>View string resources</th>
            <th class="center">
                @Html.DisplayNameFor(model => model.FirstOrDefault().DisplayOrder)
            </th>
            <th class="center">@Resource("Admin.Actions")</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="center">@Html.CheckBox("Select", false, new { id = "selectSupp_" + @item.Id })</td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UniqueSeoCode)
                </td>
                <td><a href="@Url.Action("Resources", "Language", new { LanguageId = item.Id })">View string resources</a></td>
                <td class="center">
                    @Html.DisplayFor(modelItem => item.DisplayOrder)
                </td>
                <td class="center">
                    <a class="btn btn-info" href="@Url.Action("Edit", "Language", new { id = item.Id })"><i class="icon-edit icon-white"></i></a>
                    <a class="btn btn-danger" id="deleteSupp_@item.Id" name="@item.Name"><i class="icon-trash icon-white"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>


<script type="text/javascript">
    $(document).ready(function () {

        var checkboxSuppList = $("input[id^='selectSupp_']");

        $('a[id^="deleteSupp_"]').click(function (event) {
            if (!confirm('@Resource("Admin.ConfirmDelete")'))
                return;
            event.preventDefault();
            var span = $(this);
            var idArr = new Array();
            idArr[0] = $(this).attr('id').substring(11);
            DeleteSupp(idArr);
        });

        $('span[id^="statusSupp_"]').click(function (event) {
            event.preventDefault()
            var span = $(this);
            var idArr = new Array();
            idArr[0] = $(this).attr('id').substring(11);
            ChangeStatusSupp(idArr);
        });

        $('input#suppCheckALL').change(function () {
            var isCheck = $(this).is(":checked");
            checkboxSuppList.each(function () {
                if (isCheck) {
                    $(this).prop('checked', true);
                    $('#uniform-' + $(this).attr('id') + ' span:first').removeClass('checked');
                    $('#uniform-' + $(this).attr('id') + ' span:first').addClass('checked');
                } else {
                    $(this).prop('checked', false);
                    $('#uniform-' + $(this).attr('id') + ' span:first').removeClass('checked');
                }
            });
        });

        $('a#btnChangeStatusSupp').click(function (event) {
            event.preventDefault();
            var idArr = new Array();
            var stt = 0;
            checkboxSuppList.each(function (index) {
                if ($(this).is(":checked")) {
                    idArr[stt] = parseInt($(this).attr('id').substring(11));
                    stt++;
                }
            });
            ChangeStatusSupp(idArr);
        });

        $('a#btnDeleteSupp').click(function (event) {
            event.preventDefault();
            var idArr = new Array();
            var stt = 0;
            checkboxSuppList.each(function (index) {
                if ($(this).is(":checked")) {
                    idArr[stt] = parseInt($(this).attr('id').substring(11));
                    stt++;
                }
            });
            if (idArr.length == 0) {
                popUp(true, '@Resource("Admin.Not")', false);
                return;
            }
            if (!confirm('Bạn muốn xóa những Nhà cung cấp được chọn ?'))
                return;

            DeleteSupp(idArr);
        });

        function ChangeStatusSupp(idArray) {

            $.ajax({
                type: "POST",
                url: '@Url.Action("ChangeStatus")',
                data: { ids: idArray },
                success: function (data) {
                    if (data.success) {

                        for (var i = 0; i < idArray.length; i++) {
                            var item = $('#statusSupp_' + idArray[i]);
                            if (item.hasClass("icon-check"))
                                item.attr("class", "icon icon-color icon-cross");
                            else
                                item.attr("class", "icon icon-color icon-check");
                        }

                        checkboxSuppList.each(function () {
                            $(this).prop('checked', false);
                            $('#uniform-' + $(this).attr('id') + ' span:first').removeClass('checked');
                        });

                        $('input#suppCheckALL').prop('checked', false);
                        $('#uniform-suppCheckALL span:first').removeClass('checked');

                        popUp(false, "Cập nhật thành công!", false);
                    } else {
                        popUp(true, data.message, false);
                    }
                },
                dataType: 'JSON',
                traditional: true
            });
        }

        function DeleteSupp(idArray) {

            $.ajax({
                type: "POST",
                url: '@Url.Action("Delete")',
                data: { ids: idArray },
                success: function (data) {
                    if (data.success) {

                        popUp(false, "Cập nhật thành công!", false);

                        setTimeout(function () {
                            location.reload();
                        }, 1500);

                    } else {
                        popUp(true, data.message, false);
                    }
                },
                dataType: 'JSON',
                traditional: true
            });
        }
    });

</script>
