<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Invest-VietNam</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/bootstrap-3.1.1-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-3.1.1-dist/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/Default.css" rel="stylesheet" />
    <link href="~/Content/flexslider.css" rel="stylesheet" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>

    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="pull_left">
                        <ul class="list-inline" style="margin-top:7px">
                            <li><a href="#"><span class="glyphicon glyphicon-plus"></span>@Resource("Register")</a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-lock"></span>@Resource("Login")</a></li>
                            <li><a href="/Admin/"><span class="glyphicon glyphicon-user"></span>@Resource("Admin")</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <ul class="list-inline pull-right" style="margin-top:7px">
                        <li>
                            <a href="@Url.Action("ChangeCulture", "Home", new { lang = "en-us" })"><img src="~/content/img/banner/us.gif" /> En</a>
                        </li>
                        <li>
                            <a href="@Url.Action("ChangeCulture", "Home", new { lang = "ja-JP" })"><img src="~/content/img/banner/ja.jpg" /> Ja</a>
                        </li>
                        <li>
                            <a href="@Url.Action("ChangeCulture", "Home", new { lang = "ko-KR" })"><img src="~/content/img/banner/ko.jpg" /> Ko</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="header-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <a href="@Url.Content("~/")">
                            <img class="img-responsive" src="~/content/img/banner/logo.png">
                        </a>
                    </div>
                    <div class="col-sm-6">
                        <form class="navbar-form navbar-right" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="@Resource("Search")">
                            </div>
                            <button type="submit" class="btn btn-default">@Resource("Search")</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="nav navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#headmenu">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                    </div>
                    @Html.Action("HeadMenu", "Home")
                </div>
            </div>
            <div id="banner">
                <div class="container-fluid">
                    <div class="row-fluid">
                        <div class="col-xs-4">
                            <img class="img-responsive" src="~/content/img/banner/why.jpg" />
                        </div>
                        <div class="col-xs-4">
                            <img class="img-responsive" src="~/content/img/banner/where.jpg" />
                        </div>
                        <div class="col-xs-4">
                            <img class="img-responsive" src="~/content/img/banner/what.jpg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @RenderBody()

        <style>

            .list_carousel ul {
                margin: 0;
                padding: 0;
                list-style: none;
                display: block;
            }

            .list_carousel li {
                text-align: center;
                height: 65px;
                width: 110px;
                padding: 3px 3px 3px 0px;
                display: block;
                float: left;
            }

                .list_carousel li:first-child {
                    padding-left: 3px;
                }

                .list_carousel li img {
                    width: 100%;
                    border: 3px solid #eee;
                }

            .list_carousel.responsive {
                width: 90%;
                margin: auto;
                position: relative;
            }

            .clearfix {
                float: none;
                clear: both;
            }

            .prev {
                float: left;
                margin-left: 10px;
            }

            .next {
                float: right;
                margin-right: 10px;
            }

            #prev, #next {
                display: block;
                margin-top: -60px;
                position: absolute;
                z-index: 2;
                font-size: 50px;
                color: #CCCCCC;
            }

            #prev {
                left: -50px;
            }

            #next {
                right: -50px;
            }
        </style>

        <div class="container">

            <div class="list_carousel responsive">
                <ul id="foo4">
                    <li><img src="~/content/img/banner/doitac.jpg" /></li>
                    <li><img src="~/content/img/banner/doitac1.jpg" /></li>
                    <li><img src="~/content/img/banner/doitac2.jpg" /></li>
                    <li><img src="~/content/img/banner/doitac3.jpg" /></li>
                    <li><img src="~/content/img/banner/doitac4.jpg" /></li>
                    <li><img src="~/content/img/banner/doitac5.gif" /></li>
                    <li><img src="~/content/img/banner/doitac6.gif" /></li>
                    <li><img src="~/content/img/banner/doitac7.jpg" /></li>
                </ul>
                <a href="#" id="prev"><span class="glyphicon glyphicon glyphicon-chevron-left"></span></a>
                <a href="#" id="next"><span class="glyphicon glyphicon glyphicon-chevron-right"></span></a>
                <div class="clearfix"></div>
            </div>

        </div>
    </div>


    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <a href="@Url.Content("~/")">
                        <img class="img-responsive" src="~/content/img/banner/logo.png">
                    </a>
                </div>
                <div class="col-sm-8">
                    <p>
                        <h3>Công ty Cổ phần XYZ</h3>
                        <div>
                            Ấp 3, Xã Long Hậu, Huyện Cần Giuộc, Tỉnh Long An<br>
                            Điện thoại: <a href="tel:+848 37818929">(08) 3781 8929</a> - <a href="tel:+848 3781 8929">(08) 3781 8929</a> - Fax: (08) 3781 8940<br>
                            Phòng Tiếp Thị Kinh Doanh: <a href="tel:+848 3937 559">(08) 3937 5599</a> &nbsp;<br>
                            Email: <a href="mailto:sales@longhau.com.vn">sales@longhau.com.vn</a>
                        </div>
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="~/Content/bootstrap-3.1.1-dist/js/bootstrap.min.js"></script>
    <script src="~/Content/js/jquery.carouFredSel-6.2.1-packed.js"></script>
    <script src="~/Content/js/jquery.flexslider.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#foo4').carouFredSel({
                responsive: true,
                width: '100%',
                scroll: {
                    items: 1,
                    duration: 500,
                    pauseOnHover: true
                },
                items: {
                    width: 200,
                    visible: {
                        min: 1,
                        max: 6
                    }
                },
                prev: {
                    button: '#next'
                },
                next: {
                    button: '#prev'
                }
            });
            $('.flexslider').flexslider({
                animation: "slide",
                start: function (slider) {
                    $('body').removeClass('loading');
                }
            });

        });
    </script>

</body>
</html>