@model PagedList.IPagedList<UserModel>
<div class="span3 pull-left">
    <div class="btn-group">
        <a class="btn btn-small" href="@Url.Action("Edit", "User", new { area = "Admin" }, null)"><i class="icon icon-color icon-add"></i>@Resource("Admin.CreateNew")</a>
    </div>
</div>
<div style="clear:both;margin-bottom:10px"></div>
<table class="table table-striped table-bordered bootstrap-datatable datatable dataTable">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().UserName)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Email)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().IsActive)</th>
            <th class="center">@Resource("Admin.Actions")</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="center">
                    @item.UserName
                </td>
                <td class="center">
                    @item.Email
                </td>
                <td class="center">
                    @if (item.IsActive)
                    {
                        <span class="label label-success">@Resource("Admin.Active")</span>
                    }
                    else
                    {
                        <span class="label">@Resource("Admin.Inactive")</span>
                    }
                </td>
                <td class="center">
                    <a class="btn btn-info" href="@Url.Action("Edit", "User", new { id = item.Id })"><i class="icon-edit icon-white"></i></a>
                    <a class="btn btn-danger" id="delete@(item.Id)" name="@item.Id"><i class="icon-trash icon-white"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
@Html.Partial("_PartialPaging", Model)
<script type="text/javascript">
    $(document).ready(function () {
        $('a[id^="delete"]').click(function (event) {
            if (!confirm('@Resource("Admin.ConfirmDelete")'))
                return;
            event.preventDefault();
            var span = $(this);
            var idArr = new Array();
            idArr[0] = $(this).attr('id').substring(6);
            DeleteNews(idArr);
        });
        function DeleteNews(idArray) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("Delete")',
                data: { ids: idArray },
                beforeSend: popUp(false, '@Resource("Admin.ConfirmSuccess")', false),
                success: function (data) {
                    if (data.success) {
                        setTimeout(function () {
                            location.reload();
                        }, 1500);
                    } else {
                        popUp(true, data.message, false);
                    }
                },
                dataType: 'JSON',
                traditional: true
            });
        }
    });
</script>