
@section META_INC
    {
    <title>@ViewBag.Title | Invest-Vietnam.vn</title>
    <meta name="keywords" content="@ViewBag.Keyword" />
    <meta name="description" content="@ViewBag.Description" />
    <meta property="og:url" itemprop="url" content="@Request.Url.AbsoluteUri" />
    <meta property="og:title" content="@ViewBag.Title">
    <meta property="og:description" itemprop="description" content="@ViewBag.Description" />
    <meta property="og:image" content="@ViewBag.Image" />
    <meta itemprop="image" content="@ViewBag.Image" />
}

@model List<CategoryModel>

<link href="~/Content/bootstrap-select.css" rel="stylesheet" />

<div class="container" id="container">
    <div class="row">
        <div class="col-sm-3">
            @Html.Action("PartialLeftMenu", "Category", new { area = "", id = ViewBag.Id })
        </div>
        <div class="col-sm-7">
            <h2>@ViewBag.CurrTitle</h2>
            <ol class="breadcrumb">
                @foreach (var item in (List<Invest.Core.Category>)ViewBag.TreeMenu)
                {
                    <li><a href="">@item.Name</a></li>
                }
            </ol>
            <div class="row">
                <div class="col-sm-12">
                    <div class="input-group">
                        <div class="input-group-btn ">
                            <select id="bs3Select" class="selectpicker show-tick form-control" data-live-search="true">
                                <option>cow fds</option>
                                <option>bul fsdfl</option>
                                <option class="get-class" disabled>ox</option>
                                <optgroup label="test" data-subtext="another test" data-icon="icon-ok">
                                    <option>ASD fsdfd</option>
                                    <option selected>Bla</option>
                                    <option>Ble fsdf</option>
                                </optgroup>
                            </select>

                        </div><!-- /btn-group -->
                        <input type="text" class="form-control">
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
            </div><!-- /.row -->
            <div class="row">
                @Html.Action("ContentCategory", "Category", new { area = "", id = ViewBag.Id })
            </div>
        </div>
        <div class="col-sm-2 padding_none">
            <div class="col-xs-12 padding_none">
                <h2>Side</h2>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Support Online
                        <div class="btn-group pull-right" style="margin-top:-5px;">
                            <a href="#" class="btn btn-success btn-sm"><i class="fa fa-pencil"></i></a>
                            <a href="#" class="btn btn-danger btn-sm"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <img class="img-responsive" src="http://www.investkorea.org/publish/data/main/20140411/1404_SIC2.jpg">
                        <br />
                        <i class="fa fa-envelope-square"></i> vonhatnam@gmai.com
                        <br />
                        <i class="fa fa-phone"></i> 0933 41 30 50
                        <br />
                        <i class="fa fa-skype"></i> vonhatnam
                    </div>
                </div>
                <hr>
                <div class="panel panel-primary">
                    <div class="panel-heading">Parner</div>
                    <div class="panel-body"><img src="http://www.investkorea.org/publish/data/content/921/07/img//140402.jpg" class="img-responsive" /></div>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>
